

.MIT-header, #MIT-header-bg, .MIT-layout-cell, .MIT-layout-wrapper, .MIT-footer, .MIT-nav, #MIT-hmenu-bg, .MIT-sheet,
.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.MIT-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.MIT-header
{
   z-index: 1;
   background-image: [headerimage];
   background-position: [headerposition];
}

#MIT-header-bg 
{
   display: none;
}

.MIT-hmenu>li, .MIT-hmenu>li>a
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}
ul.MIT-hmenu, ul.MIT-hmenu ul {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}
#MIT-hmenu-bg 
{
   display: none;
}

ul.MIT-hmenu>li:first-child {
   padding-right:1px;
}
ul.MIT-hmenu>li{
   zoom:expression(runtimeStyle.zoom=1,insertBefore(document.createElement('span'),firstChild).className='MIT-hmenu-separator');
}
ul.MIT-hmenu>li>span.MIT-hmenu-separator
{
   position:absolute;
   display: block;
   top:0;
   left:  -1px;
   width: 1px;
   height: 30px;
   background: url('images/menuseparator.png') center center no-repeat;
}
ul.MIT-hmenu>li:first-child>span.MIT-hmenu-separator
{
   display:none;
}

ul.MIT-hmenu ul{
   background-color: rgba(215, 75, 4, 0.83) !important;
}

.MIT-content-layout, .MIT-content-layout-row, .MIT-layout-cell 
{
   display: block;
   zoom: 1;
}
.MIT-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.MIT-search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.MIT-search div>input[type="text"]
{
   width: 100%;
}

* html form.MIT-search>input[type="text"] 
{
   margin :0;
}

ul.MIT-vmenu, ul.MIT-vmenu ul, ul.MIT-vmenu li{
   zoom: 1;
}

ul.MIT-vmenu ul 
{
   background-color: #FFFFFF;
}

.MIT-postheadericons span{
   zoom: 1;
}
.MIT-postcontent {
   height: 1%;
}

.MIT-postfootericons span{
   zoom: 1;
}
.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.MIT-sidebar1 
{
   width: auto;
   float:none;
   background: none !important;
   border: none !important;
   zoom:expression(runtimeStyle.zoom=1, parentNode.parentNode.insertBefore(document.createElement('div'),parentNode.parentNode.firstChild).className='MIT-sidebar1-bg' + (className.indexOf('MIT-sidebar1-fix') == -1 ? '' : ' MIT-sidebar1-bg-fix' ));
}

.MIT-sidebar1-bg 
{
   border-left:1px dotted #A3B4C8;
   position:absolute;
   z-index:-2;
   direction: ltr;
   right:  0;
   bottom:0;
   top:0;
   width: 25%;
   overflow:hidden;
   display:block;
   background-image: url('images/sidebar1Glare.png');
   background-repeat: no-repeat;
   background-color: #D9DEE3;
}

